
.git/
.github/
__pycache__/
*.pyc
.venv/
.pytest_cache/
.ruff_cache/
.coverage
.env
.dvc/
dvc.yaml
dvc.lock

data/*
!data/external/
data/external/*
!data/external/airports.csv
!data/external/airport_identity.csv

models/
metrics/
notebooks/
reports/
references/
docs/
tests/
